.list {
  display: block;
  margin: 0 163px;
  width: 500px;
}
.list ol {
  counter-reset: myCounter;
  background-image: url(/Landing/step3/image\ 6.1.jpg);
  background-position-x: -100px;
  background-position-y: -100px;
  background-size: cover;
  padding-left: 0px;
  margin: 0;
}

.list li {
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 55px;
  font-family: "Nunito Sans", sans-serif;
  width: 450px;
}

.list li:before {
  counter-increment: myCounter;
  content: "0" counter(myCounter);
  color: white;
  background: #e3b873;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 8px white solid;
  font-family: "Yeseva One";
  font-size: 18px;
}
.input-form {
  width: 506px;
  height: 509px;
  background-color: black;
  color: white;
  position: relative;
}
.input-title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 18px;
  width: 250px;
}
.input-all {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  padding-top: 28px;
}

.input-name {
  font-size: 13px;
  line-height: 21.28px;
  color: rgba(54, 54, 54, 0.5);
}
.input-button {
  background-color: #e3b873;
  border-radius: 2px;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 19px 40px;
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
}

.button-call {
  padding-right: 50px;
  position: absolute;
  right: 1px;
  bottom: 27px;
}

.input1 {
  padding-top: 30px;
  padding-left: 50px;
}
.input-1 {
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  width: 408px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
}
.input2 {
  padding-top: 40px;
  padding-left: 50px;
}
.checkbox1 {
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-left: 50px;
}
.checkbox1 label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}
.parent {
  position: relative;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background-color: #e3b873;
}
.parent img {
  padding: 19px 16px;
}

.conteiner-coin {
  display: flex;
  margin: auto;
  padding-left: 767px;
  padding-top: 40px;
  padding-bottom: 234px;
  width: 350px;
}
.conteiner-coin p {
  width: 250px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  padding-left: 25px;
}

.block1 {
  display: flex;
  margin: auto;
  margin-top: 60px;
  width: 1440px;
  height: 500px;
}
.block2 {
  display: block;
  margin: auto;
  background-image: url(/Landing/step3/image\ 5.1.jpg),
    linear-gradient(
      180deg,
      rgba(24, 24, 24, 0.9) 3.47%,
      rgba(24, 24, 24, 0.72) 100%
    );
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: left;
  background-size: cover;
  height: 864px;
  width: 1440px;
  background-blend-mode: darken, color-burn;
}

.list2 ul {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 130%;
  color: #e3b873;
  padding-top: 100px;
  padding-left: 0px;
  width: 301px;
  margin: auto;
}
.list2 li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: white;
  list-style-type: none;
  padding-top: 27px;
}
.list2 ul :hover {
  color: #e3b873;
  border-bottom: #e3b873 1px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #e3b873;
}
.grid-conteiner {
  margin: -113px auto;
  display: grid;
  grid-template-columns: 412px;
  grid-template-rows: 72px 239px 357px 267px 90px;
}

.post-1 {
  display: flex;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.post-2 {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.post-3 {
  display: flex;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}
.post-4 {
  display: flex;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
.list2 {
  display: flex;
}
.clients {
  display: block;
  margin: auto;
  padding-top: 109px;
  padding-left: 140px;
  width: 150px;
  font-family: "Yeseva One";
  font-size: 20px;
  text-transform: uppercase;
}
.hands-pic {
  color: #e3b873;
  display: flex;
  margin: auto;
  width: 114px;
  padding-left: 121px;
  padding-top: 5px;
}
.line1 {
  padding-top: 13px;
  padding-right: 9px;
}

.hands {
  padding-top: 13px;
  padding-right: 8px;
}
.line2 {
  padding-top: 13px;
}
.clents80 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  display: block;
  margin: auto;
  width: 375px;
  text-align: center;
  padding-left: 125px;
  padding-top: 20px;
  padding-bottom: 63px;
}
.fedosova {
  display: block;
  margin: auto;
  width: 376px;
  padding-left: 20px;
}
.fedosova img {
  border-radius: 50%;
}
.fedosova h2 {
  font-family: "Yeseva One";
  font-size: 18px;
  padding-left: 15px;
  width: 200px;
}
.fedosova p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  line-height: 180%;
  text-align: left;
  color: #959595;
  width: 324px;
}
.fedos-img-h2 {
  display: flex;
}
.pseud-button {
  background-color: #e3b873;
}
.fedosova .pseud-button img {
  border-radius: 0%;
  padding-left: 14px;
}
.fedosova .pseud-button p {
  color: white;
  font-family: "Yeseva One";
  font-size: 17px;
  padding-left: 14px;
  width: 82px;
}
.pseud-button {
  display: flex;
  margin-top: 50px;
  width: 294px;
}
.block3 {
  display: flex;
  width: 1440px;
  margin: auto;
}
.input-form-2 {
  width: 883px;
  height: 445px;
  background-color: black;
  color: white;
  display: flex;
  margin: auto;
}
.input-title-2 {
  display: block;
  margin: auto;
  text-align: center;
  font-family: "Yeseva One";
  font-size: 20px;
  text-transform: uppercase;
  width: 250px;
}
.input-all-2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  display: block;
  margin: auto;
  width: 517px;
  height: 375px;
}

.input-name {
  font-size: 13px;
  line-height: 21.28px;
  color: rgba(54, 54, 54, 0.5);
}
.input-button-2 {
  background-color: #e3b873;
  border-radius: 2px;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 17px 75px;
  margin-top: 20px;
}

.button-call-2 {
  display: block;
  margin: auto;
  width: 200px;
}

.input-2 {
  padding-top: 40px;
  padding-right: 50px;
}
.input-2-1 {
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  width: 231px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
}
.input-q {
  padding-top: 40px;
}
.input-q-1 {
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  width: 517px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
}
.checkbox {
  display: block;
  margin: auto;
  padding-top: 41px;

  width: 250px;
}
.checkbox label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}
.name-phone {
  display: flex;
}
.block4 {
  padding-top: 126px;
  padding-left: 140px;
  margin: auto;
  z-index: 2;
  position: relative;
}
.block5 {
  background: url(/Landing/step3/image\ 7.2.jpg),
    linear-gradient(
      180deg,
      rgba(24, 24, 24, 0.9) 3.47%,
      rgba(24, 24, 24, 0.72) 100%
    );
  background-blend-mode: darken;
  background-position-x: center;
  background-position-y: -100px;
  background-size: cover;
  height: 954px;
  width: 1440px;
  display: block;
  margin: auto;
  margin-top: -221px;
  position: relative;
  z-index: 1;
}
.block5 p {
  display: block;
  margin: auto;
  padding-top: 274px;
  text-align: center;
  font-family: "Yeseva One";
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  width: 589px;
  color: #e3b873;
}
.circ-post {
  width: 28px;
  height: 28px;
  background-color: #e3b873;
  border-radius: 50%;
  margin-right: 15px;
}
.circ-post img {
  display: flex;
  margin: auto;
  padding-top: 7px;
}
.curcles {
  display: flex;
  margin: auto;
  width: 90px;
  padding-top: 26px;
}
.map {
  display: flex;
  margin: auto;
  width: 925px;
  padding-top: 50px;
}
.header {
  background-color: black;
}

.logo {
  color: #e3b873;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.header-content {
  display: flex;
  height: 133px;
  align-items: center;
  padding-left: 84px;
}

.header-navigation {
  list-style: none;
  display: flex;
  padding-left: 123px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
}

.header-nav-item {
  margin-right: 58px;
}

.header-nav-item a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}
.header-navigation :hover {
  color: #e3b873;
}
.footer {
  background-color: black;
  width: 1440px;
  display: flex;
  margin: auto;
}
.phone {
  color: #e3b873;
  text-decoration: underline;
  font-size: 11px;
  font-family: "Nunito Sans", sans-serif;
  padding-left: 42px;
}
.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 0;
  padding: 11px 24px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  margin-left: 45px;
}
